@{
    ViewData["Title"] = "Our Blog";
}
<style>
    section {
        border: 1px dotted red;
        text-align: center;
        min-height: 500px;
    }
    .main {
        border: 1px dotted blue;
        background-image: url(img/main1.jpg);
        width:1000px;
        height:500px;
        
    }
</style>
<div class="container">
    <section>
        <div class="main">
            <h1>고준민</h1>
            <p>and</p>
            <h1>정해연</h1>
            <p>we are married!!</p>
        </div>
        
    </section>
    <section>

    </section>
</div>
